<h2>注文情報入力</h2>
<%= form_for(@order, url:orders_confirm_path) do |f| %>
    <div>
        <h4>支払方法</h4>
        <label><%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>クレジットカード</label>
        <label><%= f.radio_button :payment_method, :銀行振込 %>銀行振込</label>
    </div>
    <div>
        <h4>お届け先</h4>
        <%= form_tag(orders_confirm_path,:method => 'get') do %>
            <div>
                <label><%= radio_button_tag 'address_select', :ご自身の住所, checked: "checked" %>ご自身の住所</label>
                <%= @customer.postcode %><%= @customer.address %>
                <%= @customer.last_name %><%= @customer.first_name %>
            </div>
            <div>
            <label><%= radio_button_tag 'address_select', :登録済住所から選択 %>登録済住所から選択</label>
                <%= f.collection_select(:address, @registered_addresses, :full_shipping_address, :full_shipping_address) %>
            </div>
            <div>      
            <label><%= radio_button_tag 'address_select', :新しいお届け先 %>新しいお届け先</label>
                郵便番号(ハイフンなし)<%= text_field_tag 'new_postcode' %>
                住所<%= text_field_tag 'new_address' %>
                宛名<%= text_field_tag 'new_name' %>
            </div>            
    </div>
    <%= f.submit '確認画面へ進む' %>
        <% end %>
<% end %>