<!DOCTYPE html>
<html>
  <head>
    <title>namespace - public</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<% content_for :content do %> 
  <header>
    <% if customer_signed_in? %>
      <%= link_to'カート', cart_items_path %>
      <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
    <% else %>
      <%= link_to'ログイン', new_customer_session_path %>
      <%= link_to'新規登録', new_customer_registration_path %>
    <% end %>
  </header> 
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>
</body>
</html>